@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  margin-bottom: 0;
}

.intro-p {
  max-width: 95%;
}

input {
  width: 20rem;
  max-width: 75%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  background-color: black;
  color: white;
  border: 2px solid white;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.dino {
  font-size: 10rem;
}

.dino:hover {
  cursor: pointer;
}

.reply {
  max-width: 75%;
}
